:root {
    --dark-colour: #191716;
    --background-color: #eee;

    --colour-one: #fad47a;
    --colour-two: #9adb93;
    --colour-three: #7972b5;
    --colour-four: #e0deda;

    --dark-text: var(--dark-colour);
    --light-text: white;
}

.global-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    gap: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100%;
    width: 100%;
}

#side {
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--dark-colour);
    color: var(--light-text);
}

#side-logo {
    position: relative;
    padding: 10px;
}

#side-logo img {
    width: 100%;
}

#side-title {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 2em;

    padding-bottom: 30px;
}

.rest {
    width: 100%;
}

header {
    display: flex;

    flex-direction: row;
    align-items: center;

    background-color: white;
    height: 80px;

    padding-left: 30px;
    padding-right: 30px;
}

body {
    background-color: var(--background-color);
    color: var(--dark-text);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

#header-profile {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px double black;
    padding: 5px;
}

#header-profile-menu {
    margin-left: auto;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;

    background-color: var(--colour-two);

    padding: 5px;
}

.dropdown-content a {
    color: var(--dark-text);
}

.dropdown:hover .dropdown-content {display:block;}

#sidebar-links {
    display: grid;
    margin: 20px;

    grid-template-columns: 30px auto;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;
}

#sidebar-links img {
    height: 2em;
}

#sidebar-links a {
    color: var(--light-text);
    text-decoration: none;
}

.make-white {
    filter: brightness(0) invert(1);
}

main {
    padding: 20px;
    box-sizing: border-box;
}

#main-container {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 80px);
}